html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #202020;
}

* {
	box-sizing: border-box;
}

#root {
	height: 100%;
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
